---
layout: default
title: Bikes
---
.stage
  {% image stage-blau.jpg class="img-responsive img-vcentered" %}
.container
  .row
    .col-md-6
      %h2 Der Weg zu Ihrem Bambusrad
      %p
        %strong Die handgefertigten Bambusräder von Faserwerk verbinden Fahrspaß mit Langlebigkeit.
        Bambus ist als natürlicher Faserverbundwerkstoff sehr leicht,
        dabei aber extrem stabil und besitzt eine höhere Zugfestigkeit als Stahl.
        Im Fahrradrahmenbau bieten Bambusrohre eine natürliche Stoßabsorbierung und damit ein neues,
        sehr angenehmes Fahrgefühl. Auch bezogen auf die Unfallsicherheit ist Bambus konventionellen Materialien überlegen.
    .col-md-6
      {% image strassenrad2.jpg class="img-responsive" %}
